@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.my-border-red{
    border: 2px solid red;
}

.font-signature{
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}
